.profile_Cvr1 {
    .todoEch {
        border-bottom: 1px solid #f1f2f6;

        .icons {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            border-radius: 100%;
            background-color: #f1f2f6;
            cursor: pointer;
            transition: all .5s ease-out;

            &:hover {
                background-color: #dfe4ea;
                color: #000;
            }

            &.iconsNoFlex {
                display: block;
                overflow: hidden;
                padding: 3px;
            }

            .checkEmpty {
                font-size: 22px;
                display: inherit;
                width: inherit;
                height: inherit;
                justify-content: inherit;
                align-items: inherit;
                margin: 1px;
                pointer-events: none;
            }
        }
    }
}