.profile_Cvr1 {
    .todoEch {
        border-bottom: 1px solid #f1f2f6;

        .icons {
            width: 30px;
            height: 30px;
            padding: 10px;
            font-size: 12px;
            border-radius: 100%;
            background-color: #f1f2f6;
        }
    }
}